@font-face {
    font-family: logo-font;
    src: url(./assets/fonts/Norse-Bold.otf);
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    display: flex;
}

.sidebar {
    width: 33%;
    height: 100vh;
    background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg)
}

.sidebar h1 {
    font-family: logo-font;
    color: white;
}

.main-content {
    width: 67%;
    height: 100vh;
}