@font-face {
    font-family: logo-font;
    src: url(./assets/fonts/Norse-Bold.otf);
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100vh;
    background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: white;
}

.sidebar footer {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
}

.sidebar a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}

.logo-section {
    position: relative;
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    width: 96px;
}

.logo-text {
    font-family: logo-font;
    font-size: 4rem;
}

.main-content {
    width: 55%;
    height: 100vh;
    margin-left: 50px;
    margin-right: 150px;
}

hr {
    margin-left: -50px;
    margin-right: -150px;
}

header {
    margin-top: 15%;
    padding-bottom: 16px;
}

.top-divider {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.input-container label {
    display: block;
}

.form-row {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 6px;
    border: 0;
    margin: 12px 0;
}

.bottom-divider {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

form + p {
    font-size: 0.9rem;
}


span > a {
    text-decoration: none;
    color: #596D48;
    font-weight: 800;
}